.introduce{
    padding: 0 20px;
    background-color: white;
    h1{
        color: #ec7263;
        font-size: 1.8em;
        margin: 0;
        line-height: 2;
    }
    .content{
        font-size: 1.3em;
    }
}
